<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Edger, <%= @user.first_name %>!</h1>
    <p>
      Thanks for joining Edger. We're excited to help you get your lawn looking perfect.
    </p>
    <p>
      If you're looking to book a service, just head over to your dashboard.
    </p>
    <p>
      Cheers,<br>
      The Edger Team
    </p>
  </body>
</html>
